body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
canvas#main {
  display: block;
  cursor: pointer;
  margin: 0 auto;
}
#control {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  padding: 0 10px;
  font-family: Helvetica sans-serif;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
}
#control > * {
  margin-left: 3px;
  margin-right: 3px;
}
#control label {
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
}
#control > div {
  display: inline-block;
  float: left;
}
#control #fps {
  width: 20px;
}
#control #color-demo-container {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}
#control #color-demo-container #color-demo {
  width: 20px;
  height: 20px;
  border-radius: 11px;
  background-color: black;
}
#control input {
  height: 24px;
  line-height: 20px;
  font-size: inherit;
  float: left;
  margin-top: 3px;
  padding: 1px 0px;
  /*border: 2px solid #666;*/
  border-radius: 3px;
}
#control #color {
  width: 60px;
  text-align: center;
}
#control #line-width {
  width: 40px;
  text-align: center;
}
button {
  float: left;
  height: 24px;
  line-height: 20px;
  margin: 3px 3px 0px 3px;
  padding: 1px 6px;
  border-radius: 5px;
  border: 1px solid #111;
  background-color: #ddd;
}