{% extends "desktop_base.html" %}

{% block head_extra %}

<script>
  $(document).ready(namespace.startpad.json_forms.onItemPage);
</script>
{% endblock %}

{% block content %}

  <div class="span8">

    <fieldset>
      <legend id="item-form-legend"></legend>

      <div id="item-form-body">
      </div>
    </fieldset>

    <button id="_save" class="btn btn-primary">Save</button>
    <button id="_delete" class="btn">Delete</button>
    <!--  <button id="_save" class="btn">Find</button>  -->
  </div>

{% endblock %}
