{% extends "desktop_base.html" %}

{% block head_extra %}
<title>{{ site_name }} Mobile Database</title>
<link rel="stylesheet" type="text/css" href="/css/forms.css" />
<script type="text/javascript" src="/js/json-rest.js"></script>
<script type="text/javascript" src="/js/json-forms.js"></script>
<script>
  $(document).ready(namespace.startpad.json_forms.onListPage);
</script>
{% endblock %}

{% block content %}
  <h1 id="list-heading">Page List</h1>
  <table>
    <thead>
      <tr><th>ID</th><th>Title</th></tr>
    </thead>
    <tbody id="list-table-body">
    </tbody>
  </table>

  <input type=button id="_new" value="New" />

<script type="template" id="model-row-template">
  <tr>
    <td><%- id %>.</td><td><a href="/admin/forms/<%- modelName %>/<%- id %>"><%- title %></td>
  </tr>
</script>
{% endblock %}
