{% extends "desktop_base.html" %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="/rest/css/media-upload.css" />
<link rel="stylesheet" type="text/css" href="/rest/css/thumbnail-display.css" />

<script>
  $(document).ready(namespace.startpad.json_forms.onMediaPage);
</script>
{% endblock %}

{% block content %}

  <h2>Upload an Image.</h2>
  <div id="upload-form-container">
    <form action="/admin/image-upload" enctype="multipart/form-data" method="post">
      <input type="file" name="img"/>
      <input type="submit" value="Upload" />
    </form>
  </div>


  <h2>Current Images</h2>
  <div id="all-thumbnails">

    {% for image in images %}
    <div class="thumbnail-container">
      <a class="thumbnail" data-toggle="modal" href="#{{ image.key.name }}">
        <img class="thumbnail-image" src="/admin/media/{{ image.key.name }}?size=thumbnail" />
      </a>
      <a class="label" href="/admin/media/{{image.key.name}}?size=large">{{ image.key.name }}</a>
    </div>

    <div class="modal hide" id="{{ image.key.name }}">
      <div class="modal-body" id="{{ image.key.name }}-body">
        <a href="/admin/media/{{ image.key.name }}?size=large" target="blank"></a>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
    {% endfor %}

  </div>

{% endblock %}
