{% extends "base.html" %}

{% block head %}
<title>GDG Sample Drawing App</title>

{% endblock %}

{% block body %}

<span id="control">
  <button id="prev">Prev</button>

  <label>FPS:</label>
  <div id="fps"></div>

  <div class="input-append color" data-color="#000000" data-color-format="hex">
    <input type="text" maxlength="7" value="#000000"/>
    <span class="add-on"><i style="background-color: #000000"></i></span>
  </div>

  <label>Line Width:</label>
  <input id="line-width" type="number" value="2" />

  {% if username %}
  <span><a href="{{ sign_out }}">Sign out</a></span>
  {% else %}
  <span><a href="{{ sign_in }}">Sign in</a></span>
  {% endif %}

  <div id="page-number"></div>

  <button id="next">Next</button>
  <button id="save">Save</button>
</span>

<canvas id="c0"><p>Canvas not supported</p></canvas>

{% endblock %}
